<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Qingcheng</title>
    <link rel="stylesheet" href="../static/css/mystyle.css"/>
    <link rel="shortcut icon" href="../resources/favicon.ico" th:href="@{/static/favicon.ico}"/>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>

    <script src="../static/js/cookie.js"></script>
</head>
<body class="body_bg" onload="checkCookie()">
<div class="whole">

    <div >
        <label><input type="radio" style="margin-left: 40px;" name="flag" value="0">管理员</label>
        <label><input type="radio" style="margin-left: 40px;" name="flag" value="1">学生</label>
        <label><input type="radio" style="margin-left: 40px;" name="flag" value="2">老师</label>
        <div class="title">Please Enter Your New Password</div>
        <form id="form1" action="" method="post" class="form_box">
            <div class="input_tit">Your Account</div>
            <div class="input_box">
                <input class="input_self" type="text" name="account" id="account" />
            </div>
            <div class='blank_30'></div>
            <div class="input_tit">New Password</div>
            <div class="input_box">
                <input class="input_self" type="text" name="password" id="password" />
            </div>
            <div class="finish_box">
                <input class="finish_btn" type="button" id="finish" name="finish" value="Finish" onclick="get()"/>
                <input class="finish_btn" type="button"  onclick="add()"/>
            </div>
        </form>
    </div>

</div>
</body>
<script type="text/javascript">
    function get(){

        var flag = $("input[name='flag']:checked").val();

        var url = "http://localhost:8080/login";
        var data = {
            "flag":flag,
            "account":$("#account").val(),
            "password":$("#password").val()
        };
        $.ajax({
            type: "get",//指定提交的类型，get对应doget(),post对应dopost()
            url: url,
            data:data,//data代表key -value类型的数据

            dataType:'html',
            success: function (data)//success、error代表是否返回成功
            {
                console.log(data);
                ifCookie(data);
            },
            error:function (XMLHttpRequest, textStatus, errorThrown) {
                alert(typeof(errorThrown));
            }
        });
    }
    function add(){
        window.location.href="http://localhost:8080/index1";
    }

    function ifCookie(data){
        //先检测是否有cookie
        if (checkCookie()){
            setCookie("account",data,3);
        }
        checkCookie();
    }
</script>
</html>